/*STRUCTURE*/
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container
{
    width: 1200px;
    margin: auto;
}
/* UTILITIES */
.mt-40
{
    margin-top:40px;
}
.clearfix::after
{
    content: '';
    display: table;
    clear: both;
}
/*HEADER*/

header
{
    display: inline-block;
}
header img{

    width: 50%;

}

/*NAVBAR*/

li
{
    display: inline;
    margin-right: 10px;
}
li a{
    text-decoration: none;
    color: lightgray;
    font-size: 18px;
}

/* JUMBOTRON */
#jumbotron
{
    background-image: url("../img/banner.jpg");
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
    display: block;
    overflow: hidden;
    background-position: center center;
    background-size: cover;
    border-radius: 15px;
    position: relative;

}
.overlay
{
    border-radius: 15px;
    background-color: rgba(0,0,0,0.2);
    position: absolute;
    height: 100%;
    width: 100%;
}
.overlay .jumbotron-text
{
    position: absolute;
    width: 60%;
    bottom:40px;
    left:40px;
    color: white;
}

/* MAIN CONTENT */
main h4{
    color: lightgray;
}
.col
{
    float: left;
}
.col-left
{
    width: 20%; 
}
.col-right
{
    width: 20%;
       
}
.col-center
{
    width: calc(60% - 40px);
    margin:0 20px;
}
.main-image
{
    float: left;
    background-repeat: no-repeat;
    height: 200px;
    background-position: center center;
    background-size: cover;
    border-radius: 15px;
    position: relative;

}
.image-jar
{
    background-image: url("../img/img-1.jpg");
    width: 100%;
}
.image-coffee
{
    background-image: url("../img/banner-2.jpg");
    width: 100%;
}
.image-light
{
    background-image: url("../img/img-2.jpg");
    width: 100%;
}
